<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<mat-horizontal-stepper>
  <mat-step>

    <div class="card">
      <div class="card-header bg-dark text-white">

        <strong>Description</strong>
        <strong style="margin-left: 370px;">Grassland managment</strong>

      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <strong>Grassland Systems</strong>
          </div>
          <div class="col">
            <strong>Start</strong>
          </div>
          <div class="col">
            <strong>Without</strong>
          </div>
          <div class="col">
            <strong>With</strong>
          </div>

        </div>
        <hr>

        <div class="row">
          <div class="col">
            <select class="form-control" id="selectOption" [(ngModel)]="grassland.descriptionGrassland" name="selectOption">
              <option value="Grasslands after deforestation">Grasslands after deforestation</option>
              <option value="Grasslands converted to forest land">Grasslands converted to forest land</option>
              <option value="Grasslands after non-forest LUs">Grasslands after non-forest LUs</option>
              <option value="Grasslands converted to non-forest LUs">Grasslands converted to non-forest LUs</option>
            
            </select>
          </div>
          <div class="col">
            <div class="form-group">

              <select class="form-control" id="selectOption">
                <option value="" disabled selected>Please select </option>
                <option value="Non-degraded">Non-degraded</option>
                <option value="High intensity grazing">High intensity grazing</option>
                <option value="Severely degraded">Severely degraded</option>
                <option value="Improved grassland">Improved grassland</option>
                <option value="Improved with medium inputs">Improved with medium inputs</option>
                <option value="Improved with high inputs">Improved with high inputs</option>
              </select>
            </div>

          </div>
          <div class="col">
            <div class="form-group">

              <select class="form-control" [(ngModel)]="grassland.withGrasslandManagement" name="withGrasslandManagement" id="withGrasslandManagement">
                <option value="Non-degraded">Non-degraded</option>
                <option value="High intensity grazing">High intensity grazing</option>
                <option value="Severely degraded">Severely degraded</option>
                <option value="Improved grassland">Improved grassland</option>
                <option value="Improved with medium inputs">Improved with medium inputs</option>
                <option value="Improved with high inputs">Improved with high inputs</option>
              </select>
            </div>

          </div>
          <div class="col">
            <div class="form-group">

              <select class="form-control"  [(ngModel)]="grassland.withoutFireManagement" name="withoutFireManagement">
                <option value="Non-degraded">Non-degraded</option>
                <option value="High intensity grazing">High intensity grazing</option>
                <option value="Severely degraded">Severely degraded</option>
                <option value="Improved grassland">Improved grassland</option>
                <option value="Improved with medium inputs">Improved with medium inputs</option>
                <option value="Improved with high inputs">Improved with high inputs</option>
              </select>
            </div>

          </div>

        </div>
     


      </div>
    </div>
    <div style="margin-top: 10px;">

      <button mat-button matStepperNext mat-raised-button color="primary"
        style="font-size: 12px !important; padding: 4px 8px !important; width: 100px; margin-left: 10px;">Next</button>
    </div>

  </mat-step>
  <mat-step>

    <div class="card">
      <div class="card-header bg-dark text-white">
        <strong>Fire managment & periodicty</strong>
      </div>
      <div class="card-body">
        <div class="row">

          <div class="col">
            <strong>Without</strong>
          </div>
          <div class="col">
            <strong>With</strong>
          </div>

        </div>
        <hr>

        <div class="row">

          <div class="col">
            <div class="form-group">

              <select class="form-control" id="withFireManagement" [(ngModel)]="grassland.withFireManagement" name="withFireManagement">
                <option [ngValue]="true">Yes</option>
                <option [ngValue]="false">No</option>
              </select>
              <select class="form-control" [(ngModel)]="grassland.year" name="year" id="year">
                <option value="5">5</option>
                <option value="5">5</option>
              </select>
            </div>
          </div>
          <div class="col">
            <select class="form-control" id="withoutFireManagement" [(ngModel)]="grassland.withoutFireManagement" name="withoutFireManagement">
              <option [ngValue]="true">Yes</option>
              <option [ngValue]="false">No</option>
            </select>
            <select class="form-control" id="year2" [(ngModel)]="grassland.year2" name="year2">
              <option value="5">5</option>
              <option value="5">5</option>
            </select>
          </div>

        </div>




      </div>
    </div>
    <div style="margin-top: 10px;">
      <button mat-button matStepperPrevious mat-raised-button color="warn"
        style="font-size: 12px !important; padding: 4px 8px !important; width: 100px;">Back</button>
      <button mat-button matStepperNext mat-raised-button color="primary"
        style="font-size: 12px !important; padding: 4px 8px !important; width: 100px; margin-left: 10px;">Next</button>
    </div>

  </mat-step>
  <mat-step>
    <div class="card">
      <div class="card-header bg-dark text-white">
        Yield (t/ha/year)
      </div>
      <div class="card-body">
        <hr>
        <div class="row">
          <div class="col">
            <strong>Start</strong>
          </div>
          <div class="col">
            <strong>Without</strong>
          </div>
          <div class="col">
            <strong>With</strong>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col">
            <input class="form-control" name="start1" [(ngModel)]="grassland.startAreaGrassland" placeholder="value" type="number">
          </div>
          <div class="col">
            <input class="form-control" name="without1" [(ngModel)]="grassland.withoutAreaGrassland" placeholder="value" type="number">
          </div>
          <div class="col">
            <input class="form-control" name="with1" [(ngModel)]="grassland.withAreaGrassland" placeholder="value" type="number">
          </div>
        </div>
      
      </div>
    </div>

    <div style="margin-top: 10px;">
      <button mat-button matStepperPrevious mat-raised-button color="warn"
        style="font-size: 12px !important; padding: 4px 8px !important; width: 100px;">Back</button>

      <button mat-button matStepperNext mat-raised-button (click)="calcul()"
        style="font-size: 12px !important; padding: 4px 8px !important; width: 100px; margin-left: 10px; background-color: darkgreen; color: aliceblue;">Save</button>

    </div>
  </mat-step>
  <mat-step>
    <table class="table">
      <thead class="table-success">
        <tr>
          <th colspan="3">
            Area (ha)
          </th>
          <th colspan="2">
            Total emissions (tCO2-e)
          </th>
          <th rowspan="2">
            Balance
          </th>
        </tr>
        <tr>
          <th>Start</th>
          <th>Without</th>
          <th>With</th>
          <th>Without</th>
          <th>With</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{grassland.startAreaGrassland}}</td>
          <td>{{grassland.startAreaGrassland-grassland.withoutAreaGrassland}}</td>
          <td>{{grassland.startAreaGrassland-grassland.withAreaGrassland}}</td>
          <td>{{(grassland.startAreaGrassland-grassland.withoutAreaGrassland) * this.generateRandomDecimal(36,150,2)}}</td>
          <td>{{(grassland.startAreaGrassland-grassland.withAreaGrassland) * this.generateRandomDecimal(36,150,2)}}</td>
          <td style="color: forestgreen;">-{{(grassland.startAreaGrassland-grassland.withoutAreaGrassland) * this.generateRandomDecimal(36,150,2) - (grassland.startAreaGrassland-grassland.withAreaGrassland) * this.generateRandomDecimal(36,150,2)}}</td>
        </tr>
     

      </tbody>
    </table>
    <div style="margin-top: 10px;">
      <button mat-button matStepperPrevious mat-raised-button color="warn"
        style="font-size: 12px !important; padding: 4px 8px !important; width: 100px;">Back</button>
      <button mat-button matStepperNext mat-raised-button color="primary" (click)="save()"
        style="font-size: 12px !important; padding: 4px 8px !important; width: 100px; margin-left: 10px;">Confirme</button>
    </div>
  </mat-step>
  <mat-step label="pie">
    <app-chart></app-chart>
  </mat-step>
  <!-- <mat-step>
    <ng-template matStepLabel>Step 5</ng-template>
    <table class="table">
      <thead class="table-success">
        <tr>
          <th colspan="2">
            Forest degradation level (biomass loss) reference values
          </th>

        </tr>
        <tr>
          <th>Degradation level</th>
          <th>% of biomass lost</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>None</td>
          <td>0%</td>
        </tr>
        <tr>
          <td>Very low</td>
          <td>10%</td>
        </tr>
        <tr>
          <td>Low</td>
          <td>20%</td>
        </tr>
        <tr>
          <td>Moderate</td>
          <td>40%</td>
        </tr>
        <tr>
          <td>Large</td>
          <td>60%</td>
        </tr>
        <tr>
          <td>Extreme</td>
          <td>80%</td>
        </tr>


      </tbody>
    </table>
    <div style="margin-top: 10px;">
      <button mat-button matStepperPrevious mat-raised-button color="warn"
        style="font-size: 12px !important; padding: 4px 8px !important; width: 100px;">Back</button>
      <button mat-button matStepperNext mat-raised-button color="primary"
        style="font-size: 12px !important; padding: 4px 8px !important; width: 100px; margin-left: 10px;"
        >Next</button>

    </div>
  </mat-step> -->

  <!-- <mat-step>
    <ng-template matStepLabel>Chart</ng-template>
    <app-chart></app-chart>
  </mat-step> -->
</mat-horizontal-stepper>