<table class="table">
    <thead class="text-primary">
      <tr>
        <th rowspan="2">Description</th>
        <th colspan="3">Grassland Management</th>
        <th colspan="2">Fire management & periodicity</th>
        <th rowspan="2">Yield (t/ha/year)</th>
        <th rowspan="2">Total emissions (tCO2-e)</th>
        <th rowspan="2">Balance</th>
      </tr>
      <tr>
        <th>Start</th>
        <th>Without</th>
        <th>With</th>
        <th>Without</th>
        <th>With</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Grassland after deforestation</td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td>
          <select>
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </td>
        <td>5</td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td><input type="number"></td>
      </tr>
      <tr>
        <td>Grassland converted to forest</td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td>
          <select>
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </td>
        <td>5</td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td><input type="number"></td>
      </tr>
      <tr>
        <td>Grasslands after non-forest LUs</td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td>
          <select>
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </td>
        <td>5</td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td><input type="number"></td>
      </tr>
      <tr>
        <td>Grasslands converted to non-forest LUs</td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td>
          <select>
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </td>
        <td>5</td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td><input type="number"></td>
      </tr>
      <!-- Add data for other rows with appropriate input elements -->
    </tbody>
  </table>
  