<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <mat-stepper>
                    <mat-step label="Type of vegetation">
                        <form #form1="ngForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field appearance="fill" style="width: 450px;">
                                        <mat-label>Climate</mat-label>
                                        <mat-select matNativeControl placeholder="Please Select" require name="climate"
                                            [(ngModel)]="deforestationDto.deforestationProducer.climate">
                                            <mat-option value="Tropical">Tropical</mat-option>
                                            <mat-option value="Warm temperate">Warm temperate</mat-option>
                                            <mat-option value="Cool temperate">Cool temperate</mat-option>
                                            <mat-option value="Boreal">Boreal</mat-option>
                                            <mat-option value="Tropical montane">Tropical montane</mat-option>

                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field appearance="fill" style="width: 450px;">
                                        <mat-label>Type of vegetation that will be deforested</mat-label>
                                   
                                        <mat-select matNativeControl placeholder="Please Select"
                                            name="selectedVegetation" [(ngModel)]="selectedVegetation">

                                            <mat-option value="tropical_montane" *ngIf="deforestationDto.deforestationProducer.climate == 'Tropical'">Tropical
                                                Montane</mat-option>
                                            <mat-option value="tropical_moist_deciduous_forest"
                                                *ngIf="deforestationDto.deforestationProducer.climate == 'Tropical'">Tropical Moist Deciduous
                                                Forest</mat-option>
                                            <mat-option value="tropical_dry_forest"
                                                *ngIf="deforestationDto.deforestationProducer.climate == 'Tropical'">Tropical Dry Forest</mat-option>
                                            <mat-option value="tropical_shrubland"
                                                *ngIf="deforestationDto.deforestationProducer.climate == 'Tropical'">Tropical Shrubland</mat-option>
                                            <mat-option value="planted_tropical_rainforest"
                                                *ngIf="deforestationDto.deforestationProducer.climate == 'Tropical'">Planted Tropical Rainforest</mat-option>
                                            <mat-option value="planted_tropical_moist_deciduous_forest"
                                                *ngIf="deforestationDto.deforestationProducer.climate == 'Tropical'">Planted Tropical Moist Deciduous
                                                Forest</mat-option>
                                            <mat-option value="planted_tropical_dry_forest"
                                                *ngIf="deforestationDto.deforestationProducer.climate == 'Tropical'">Planted Tropical Dry Forest</mat-option>
                                            <mat-option value="planted_tropical_shrubland"
                                                *ngIf="deforestationDto.deforestationProducer.climate == 'Tropical'">Planted Tropical Shrubland</mat-option>

                                            <mat-option value="subtropical_humid_forest"
                                                *ngIf="deforestationDto.deforestationProducer.climate == 'Warm temperate'">Subtropical Humid
                                                Forest</mat-option>
                                            <mat-option value="subtropical_dry_forest"
                                                *ngIf="deforestationDto.deforestationProducer.climate == 'Warm temperate'">Subtropical Dry Forest</mat-option>
                                            <mat-option value="subtropical_steppe"
                                                *ngIf="deforestationDto.deforestationProducer.climate == 'Warm temperate'">Subtropical Steppe</mat-option>
                                            <mat-option value="subtropical_mountain_systems"
                                                *ngIf="deforestationDto.deforestationProducer.climate == 'Warm temperate'">Subtropical Mountain
                                                Systems</mat-option>
                                            <mat-option value="planted_subtropical_humid_forest"
                                                *ngIf="deforestationDto.deforestationProducer.climate == 'Warm temperate'">Planted Subtropical Humid
                                                Forest</mat-option>
                                            <mat-option value="planted_subtropical_dry_forest"
                                                *ngIf="deforestationDto.deforestationProducer.climate == 'Warm temperate'">Planted Subtropical Dry
                                                Forest</mat-option>
                                            <mat-option value="planted_subtropical_steppe"
                                                *ngIf="deforestationDto.deforestationProducer.climate == 'Warm temperate'">Planted Subtropical
                                                Steppe</mat-option>
                                            <mat-option value="planted_subtropical_mountain_systems"
                                                *ngIf="deforestationDto.deforestationProducer.climate == 'Warm temperate'">Planted Subtropical Mountain
                                                Systems</mat-option>

                                            <mat-option value="temperate_oceanic_forest"
                                                *ngIf="deforestationDto.deforestationProducer.climate == 'Cool temperate'">Temperate Oceanic
                                                Forest</mat-option>
                                            <mat-option value="temperate_continental_forest"
                                                *ngIf="deforestationDto.deforestationProducer.climate == 'Cool temperate'">Temperate Continental
                                                Forest</mat-option>
                                            <mat-option value="temperate_mountain_systems"
                                                *ngIf="deforestationDto.deforestationProducer.climate == 'Cool temperate'">Temperate Mountain
                                                Systems</mat-option>
                                            <mat-option value="temperate_desert"
                                                *ngIf="deforestationDto.deforestationProducer.climate == 'Cool temperate'">Temperate Desert</mat-option>
                                            <mat-option value="temperate_steppe"
                                                *ngIf="deforestationDto.deforestationProducer.climate == 'Cool temperate'">Temperate Steppe</mat-option>
                                            <mat-option value="planted_temperate_oceanic_forest"
                                                *ngIf="deforestationDto.deforestationProducer.climate == 'Cool temperate'">Planted Temperate Oceanic
                                                Forest</mat-option>
                                            <mat-option value="planted_temperate_continental_forest"
                                                *ngIf="deforestationDto.deforestationProducer.climate == 'Cool temperate'">Planted Temperate Continental
                                                Forest</mat-option>
                                            <mat-option value="planted_temperate_mountain_systems"
                                                *ngIf="deforestationDto.deforestationProducer.climate == 'Cool temperate'">Planted Temperate Mountain
                                                Systems</mat-option>

                                            <mat-option value="boreal_coniferous_forest"
                                                *ngIf="deforestationDto.deforestationProducer.climate == 'Boreal'">Boreal Coniferous Forest</mat-option>
                                            <mat-option value="boreal_tundra_woodland"
                                                *ngIf="deforestationDto.deforestationProducer.climate == 'Boreal'">Boreal Tundra Woodland</mat-option>
                                            <mat-option value="boreal_mountain_systems"
                                                *ngIf="deforestationDto.deforestationProducer.climate == 'Boreal'">Boreal Mountain Systems</mat-option>
                                            <mat-option value="planted_boreal_coniferous_forest"
                                                *ngIf="deforestationDto.deforestationProducer.climate == 'Boreal'">Planted Boreal Coniferous
                                                Forest</mat-option>
                                            <mat-option value="planted_boreal_tundra_woodland"
                                                *ngIf="deforestationDto.deforestationProducer.climate == 'Boreal'">Planted Boreal Tundra Woodland</mat-option>
                                            <mat-option value="planted_boreal_mountain_systems"
                                                *ngIf="deforestationDto.deforestationProducer.climate == 'Boreal'">Planted Boreal Mountain Systems</mat-option>

                                            <mat-option value="tropical_mountain_systems"
                                                *ngIf="deforestationDto.deforestationProducer.climate == 'Tropical montane'">Tropical Mountain
                                                Systems</mat-option>
                                            <mat-option value="planted_tropical_mountain_systems"
                                                *ngIf="deforestationDto.deforestationProducer.climate == 'Tropical montane'">Planted Tropical Mountain
                                                Systems</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field appearance="fill" style="width: 450px;">
                                        <mat-label>HWPs</mat-label>
                                        <input matInput [(ngModel)]="deforestationDto.deforestationProducer.hwps" type="number" name="hwps" required value="0" required />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field appearance="fill" style="width: 450px;">
                                        <mat-label>Fire used?</mat-label>
                                        <mat-select matNativeControl [(ngModel)]="deforestationDto.deforestationProducer.fireUsed" name="fireUsed" placeholder="Please Select">
                                            <mat-option value="true">Yes</mat-option>
                                            <mat-option value="false">No</mat-option>

                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div style="margin-top: 10px;" class="col-md-12">

                                <button mat-button matStepperNext mat-raised-button color="primary"
                                    [disabled]="!climate || !selectedVegetation" (click)="calcul()"
                                    style="font-size: 12px !important; padding: 4px 8px !important; width: 100px; ">Next</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step label="Final land-use after deforestaion">
                        <form>
                            <div>
                                <mat-form-field appearance="fill">
                                    <mat-label>Land-use type</mat-label>
                                    <mat-select name="land" [(ngModel)]="deforestationDto.deforestationProducer.landUseType" matNativeControl
                                        placeholder="Please Select">
                                        <mat-option value="Agroforestry">Agroforestry</mat-option>
                                        <mat-option value="Annual cropland">Annual cropland</mat-option>
                                        <mat-option value="Annual fallow">Annual fallow</mat-option>
                                        <mat-option value="Degraded land">Degraded land</mat-option>
                                        <mat-option value="Flooded rice">Flooded rice</mat-option>
                                        <mat-option value="Grassland">Grassland</mat-option>
                                        <mat-option value="Other">Other</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field appearance="fill">
                                    <mat-label>Agroforestry system</mat-label>
                                    <mat-select [(ngModel)]="deforestationDto.deforestationProducer.agroforestrySystem" name="agroforestrySystem" matNativeControl [disabled]="deforestationDto.deforestationProducer.landUseType !== 'Agroforestry'"
                                        placeholder="Please Select">
                                        <mat-option value="Hedgerow">Hedgerow</mat-option>
                                        <mat-option value="Olive">Olive</mat-option>
                                        <mat-option value="Orchard">Orchard</mat-option>
                                        <mat-option value="Short Rotation Coppice">Short Rotation Coppice</mat-option>
                                        <mat-option value="Silvopasture">Silvopasture</mat-option>
                                        <mat-option value="Tea">Tea</mat-option>
                                        <mat-option value="Wine">Wine</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div style="margin-top: 10px;">
                                <button mat-button matStepperPrevious mat-raised-button color="warn"
                                    style="font-size: 12px !important; padding: 4px 8px !important; width: 100px;">Back</button>
                                <button mat-button matStepperNext mat-raised-button color="primary" (click)="calcul()"
                                    style="font-size: 12px !important; padding: 4px 8px !important; width: 100px; margin-left: 10px;">Next</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step label="Forested area (ha)">

                        <form>
                            <div class="card" style="padding: 10px;">
                                <div class="row">
                                    <div class="col-md-4" style="display: flex;">
                                        <mat-form-field appearance="fill" style="width: 200px;">
                                            <mat-label>Start</mat-label>
                                            <input matInput type="number" [(ngModel)]="start" name="start" value="0"
                                                required />
                                        </mat-form-field>
                                       
                                    </div>
                                    <div class="col-md-4" style="display: flex;">
                                        <mat-form-field appearance="fill" style="width: 200px;">
                                            <mat-label>Without</mat-label>
                                            <input matInput type="number" [(ngModel)]="without" name="without" value="0"
                                                required />
                                        </mat-form-field>
                                        <mat-form-field appearance="fill" [(ngModel)]="deforestationDto.deforestationProducer.typeWithout1" name="typeWithout1" style="width: 50px;">
                                            <mat-select matNativeControl placeholder="D">
                                                <mat-option value="D">D</mat-option>
                                                <mat-option value="I">I</mat-option>
                                                <mat-option value="E">E</mat-option>
    
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4" style="display: flex;">
                                        <mat-form-field appearance="fill" style="width: 200px;">
                                            <mat-label>With</mat-label>
                                            <input matInput type="number" [(ngModel)]="with" name="with" value="0"
                                                required />
                                        </mat-form-field>
                                        <mat-form-field appearance="fill" style="width: 50px;">
                                            <mat-select matNativeControl [(ngModel)]="deforestationDto.deforestationProducer.typeWith1" name="typeWith1" placeholder="D">
                                                <mat-option value="D">D</mat-option>
                                                <mat-option value="I">I</mat-option>
                                                <mat-option value="E">E</mat-option>
    
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>

                        
                            </div>

                            <div style="margin-top: 10px;">
                                <button mat-button matStepperPrevious mat-raised-button color="warn"
                                    style="font-size: 12px !important; padding: 4px 8px !important; width: 100px;">Back</button>
                                <button mat-button matStepperNext mat-raised-button
                                    [disabled]="!start || !without || !with" (click)="calcul()"
                                    style="font-size: 12px !important; padding: 4px 8px !important; width: 100px; margin-left: 10px; background-color: green; color: white;">save</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step label="Result">
                        <table class="table">
                            <thead class="table-success">
                                <tr>
                                    <th colspan="2">
                                        Deforested area (ha)
                                    </th>
                                    <th colspan="2">
                                        Total emissions (tCO2-e)
                                    </th>
                                    <th rowspan="2">
                                        Balance
                                    </th>
                                </tr>
                                <tr>

                                    <th>Without</th>
                                    <th>With</th>
                                    <th>Without</th>
                                    <th>With</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{withoutResult}}</td>
                                    <td>{{withResult}}</td>
                                    <td>{{withoutResultTotal}}</td>
                                    <td>{{withResultTotal}}</td>
                                    <td style="color: forestgreen;">{{withoutResultTotal - withResultTotal}}</td>
                                </tr>
                              

                            </tbody>
                        </table>
                        <div style="margin-top: 10px;">
                            <button mat-button matStepperPrevious mat-raised-button color="warn"
                                style="font-size: 12px !important; padding: 4px 8px !important; width: 100px;">Back</button>
                            <button mat-button matStepperNext mat-raised-button color="primary" (click)="save()"
                                style="font-size: 12px !important; padding: 4px 8px !important; width: 100px; margin-left: 10px;">Confirme</button>
                        </div>
                    </mat-step>
                    <mat-step label="pie">
                        <div style="width: 300px; height: 300px;">
                            <canvas id="myChartTwoo"></canvas>
                        </div>
                    </mat-step>


                </mat-stepper>
            </div>
        </div>

    </div>