<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<mat-horizontal-stepper>
    <mat-step>
        <div class="card">
            <div class="card-header bg-dark text-white">
                <strong>Type</strong>
                <strong style="margin-left: 400px;">Forest degragation level</strong>

            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <strong>Type of forest vegetation </strong>
                    </div>
                    <div class="col">
                        <strong>Strat</strong>
                    </div>
                    <div class="col">
                        <strong>Without</strong>
                    </div>
                    <div class="col">
                        <strong>With</strong>
                    </div>
                </div>
                <hr>
    
                <div class="row">
                    <div class="col">
                        <div class="form-group">

                            <select class="form-control" name="selectBiome" [(ngModel)]="forestManagementProducer.forestVegetation"  id="selectBiome">
                                <option value="Subtropical humid forest">Subtropical humid forest</option>
                                <option value="Subtropical dry forest">Subtropical dry forest</option>
                                <option value="Subtropical steppe">Subtropical steppe</option>
                                <option value="Subtropical mountain systems">Subtropical mountain systems</option>
                                <option value="Planeted Subtropical humid forest">Planeted Subtropical humid forest
                                </option>
                                <option value="Planeted dry forest">Planeted dry forest</option>
                                <option value="Planeted steppe">Planeted steppe</option>
                            </select>
                        </div>

                    </div>
                    <div class="col">
                        <div class="form-group">

                            <select class="form-control" name="start1" [(ngModel)]="forestManagementProducer.startForestDegradationLevel" id="selectIntensity">
                                <option value="0">None</option>
                                <option value="1">Very low</option>
                                <option value="2">Low</option>
                                <option value="3">Moderate</option>
                                <option value="4">Large</option>
                                <option value="5">Extreme</option>
                            </select>
                        </div>

                    </div>
                    <div class="col">
                        <div class="form-group">

                            <select class="form-control" name="without1" [(ngModel)]="forestManagementProducer.withoutForestDegradationLevel" id="selectIntensity">
                                <option value="0">None</option>
                                <option value="1">Very low</option>
                                <option value="2">Low</option>
                                <option value="3">Moderate</option>
                                <option value="4">Large</option>
                                <option value="5">Extreme</option>
                            </select>
                        </div>

                    </div>
                    <div class="col">
                        <div class="form-group">

                            <select class="form-control" name="with1" [(ngModel)]="forestManagementProducer.withForestDegradationLevel" id="selectIntensity">
                                <option value="0">None</option>
                                <option value="1">Very low</option>
                                <option value="2">Low</option>
                                <option value="3">Moderate</option>
                                <option value="4">Large</option>
                                <option value="5">Extreme</option>
                            </select>
                        </div>

                    </div>

                </div>
               
                <!-- Repeat the above structure for other rows -->
            </div>
        </div>
        <div style="margin-top: 10px;">

            <button mat-button matStepperNext mat-raised-button color="primary"
                [disabled]="!forestManagementProducer.startForestDegradationLevel || !forestManagementProducer.withoutForestDegradationLevel || !forestManagementProducer.withForestDegradationLevel"
                style="font-size: 12px !important; padding: 4px 8px !important; width: 100px; margin-left: 10px;">Next</button>
        </div>
    </mat-step>
    <mat-step>
        <div class="card">
            <div class="card-header bg-dark text-white">
                <strong>Fire occurrence</strong>
                <strong style="margin-left: 280px;">Fire periodicity</strong>
                <strong style="margin-left: 300px;">Fire impact (% brunt)</strong>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col">
                        <strong>with</strong>
                    </div>
                    <div class="col">
                        <strong>Without</strong>
                    </div>
                    <div class="col">
                        <strong>with</strong>
                    </div>
                    <div class="col">
                        <strong>Without</strong>
                    </div>
                    <div class="col">
                        <strong>with</strong>
                    </div>
                    <div class="col">
                        <strong>Without</strong>
                    </div>
                </div>
                <hr>
                <div class="row">
                  
                    <div class="col">
                        <select class="form-control" [(ngModel)]="forestManagementProducer.withoutFireOccurrence" name="withoutFireOccurrence">
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
                    </div>
                    <div class="col">
                        <select [(ngModel)]="forestManagementProducer.withFireOccurrence" name="withFireOccurrence" class="form-control">
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
                    </div>
                    <div class="col">
                        <input class="form-control" disabled value="7" placeholder="Please select">
                    </div>
                    <div class="col">
                        <input class="form-control" disabled value="1" placeholder="Please select">
                    </div>

           
                    <div class="col">
                        <input type="number" class="form-control" id="percentage_input" [(ngModel)]="forestManagementProducer.withoutFireImpact" name="withoutFireImpact" min="0" max="100" step="0.01">
                    </div>
                    <div class="col">
                        <input type="number" class="form-control" id="percentage_input2" [(ngModel)]="forestManagementProducer.withFireImpact" name="withFireImpact" min="0" max="100" step="0.01">
                    </div>
                </div>
             
                <!-- Repeat the above structure for other rows -->
            </div>
        </div>
        <div style="margin-top: 10px;">
            <button mat-button matStepperPrevious mat-raised-button color="warn"
                style="font-size: 12px !important; padding: 4px 8px !important; width: 100px;">Back</button>
            <button mat-button matStepperNext mat-raised-button color="primary"
                style="font-size: 12px !important; padding: 4px 8px !important; width: 100px; margin-left: 10px;">Next</button>
        </div>

    </mat-step>
    <mat-step>
        <div class="card">
            <div class="card-header bg-dark text-white">
                Forest area (ha)
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <strong>Strat</strong>
                    </div>
                    <div class="col">
                        <strong>With</strong>
                    </div>
                    <div class="col">
                        <strong>Without</strong>
                    </div>
                  

                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <input class="form-control" name="startForestedAreaManagement" [(ngModel)]="forestManagementProducer.startForestedAreaManagement"
                            placeholder="Please select">
                    </div>
                    <div class="col">
                        <input class="form-control" placeholder="Please select">
                    </div>
                    <div class="col">
                        <input class="form-control" placeholder="Please select">
                    </div>
                </div>
                
            </div>
        </div>
        <div style="margin-top: 10px;">
            <button mat-button matStepperPrevious mat-raised-button color="warn"
                style="font-size: 12px !important; padding: 4px 8px !important; width: 100px;">Back</button>
            <button mat-button matStepperNext mat-raised-button  (click)="calcul()"
                style="font-size: 12px !important; padding: 4px 8px !important; width: 100px; margin-left: 10px; background-color: darkgreen; color: aliceblue;">Save</button>
        </div>

    </mat-step>
    <mat-step>
        <table class="table">
            <thead class="table-success">
                <tr>

                    <th colspan="2">
                        Total emissions (tCO2-e)
                    </th>
                    <th rowspan="2">
                        Balance
                    </th>
                </tr>
                <tr>

                    <th>Without</th>
                    <th>With</th>
                </tr>
            </thead>
            <tbody>

                <td>{{withoutResult1}}</td>
                <td>{{withResult1}}</td>
                <td>0</td>
            </tbody>
        </table>
        <div style="margin-top: 10px;">
            <button mat-button matStepperPrevious mat-raised-button color="warn"
                style="font-size: 12px !important; padding: 4px 8px !important; width: 100px;">Back</button>
            <button mat-button matStepperNext mat-raised-button color="primary" (click)="save()"
                style="font-size: 12px !important; padding: 4px 8px !important; width: 100px; margin-left: 10px;">Confirme</button>
        </div>
    </mat-step>
    <mat-step>
        <app-chart></app-chart>
    </mat-step>

</mat-horizontal-stepper>