<div class="main-content">
    <div class="tab-content">
        <mat-horizontal-stepper>
            <mat-step label="Project Description">
             
                <app-admin-table-description></app-admin-table-description>
            </mat-step>
            <mat-step label="Land Use Changes">
                <app-land-use-changes-admin></app-land-use-changes-admin> 
            </mat-step>
            <mat-step label="Grassland and Livestock">
              
                <app-grassland></app-grassland>
            </mat-step>
            <mat-step label="Forest Management">
                <app-forest-management></app-forest-management>
            </mat-step>

            <!-- Add more steps as needed -->
          </mat-horizontal-stepper>
    </div>
</div>
