<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
          <img src="/assets/img/introTool.PNG" alt="Image description" class="img-fluid mb-3">
          <p>The Ex-Ante Carbon-balance Tool (EX-ACT) is an appraisal system developed by FAO providing estimates of the impact of agriculture and forestry development projects, programmes and policies on the carbon-balance. The carbon-balance is defined as the net balance from all greenhouse gases (GHGs) expressed in CO2 equivalent that were emitted or sequestered due to project implementation as compared to a business-as-usual scenario.</p>
          <button class="btn btn-primary" routerLink="/exacttool-project">Start the tool</button>
        </div>
      </div>
    </div>
  </div>
  